<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h1>Votechain</h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" name="id" id="" [(ngModel)]="name" placeholder="Id">
						<div *ngIf="loginError" style="color: red"><h5>Wrong user</h5></div>
					</div>
				</div>
				<a class="btn rounded-btn" (click)="onSelect(name)"> Log in </a>
			</form>
		</div>
	</div>
</div>
