<div class="vote-section">
  <div *ngIf="vote">
    <h3>{{vote.description}}</h3>
  </div>
  <div class="my-form">
    <form class="form-group" (ngSubmit)="voteOption()" #voteForm="ngForm">
      <ul class="option" *ngIf="options">
        <label>Options:</label>
        <li *ngFor="let option of options" [class.selected]="option === selected" (click)="optionSelected(option)">
          <span class="badge">{{option.id}}</span> {{option.description}}
        </li>
      </ul>
      <div class="form-element">
        <label>Comentario:</label>
        <textarea class="form-control" rows="4" cols="50" [(ngModel)]="emitVote.justification" name="justification"></textarea>
      </div>
      <div class="vote-ok" *ngIf="responseOk">
        VOTO EMITIDO CORRECTAMENTE
      </div>
      <div class="my-form-buttons">
        <button class="btn rounded-btn" (click)="goBack()">Back</button>
        <button class="btn rounded-btn"type="submit">Vote!</button>
        <button class="btn rounded-btn" (click)="goResults(vote.id)">Results</button>
      </div>
    </form>
  </div>
</div>
