@import './colors';

html {
  height: 100%;
  background: #f2f2f2;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.login-page {
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #808080;
  margin: 3em;
  .col-lg-4 {
    padding :0;
  }

  a {
    cursor: pointer;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px !important;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #808080;
    color: #808080;
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid #808080;
    box-shadow: none;
  }
  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #808080;
    background: #f2f2f2;
    border: 2px solid #808080;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: #4d4d4d;
    border: 2px solid #4d4d4d;
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255,255,255,0.7);
      font-size: 20px;
      font-weight: 300;
    }
  }

  .form-group {
    padding: 8px 0;
    width: 50%;
    margin: 0 auto;
    input::-webkit-input-placeholder {
      color: #808080 !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: #808080 !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: #808080 !important;
    }

    input:-ms-input-placeholder {
      color: #808080 !important;
    }
  }
  .form-content {
    padding: 40px 0;
  }
}

.vote-section {
  background: #f2f2f2;
  color: #808080;

  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #808080;
    background: #f2f2f2;
    border: 2px solid #808080;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: #4d4d4d;
    border: 2px solid #4d4d4d;
    outline: none;
    cursor: pointer;
  }
}

.form-element {
  padding-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;
}

option {
  background: #cbcbb3;
}

.my-form-buttons {
  text-align: center;
}

ul{
  padding-left: 10%;
  padding-right: 10%;
}

li {
  background: white;
  margin: 0.4em;
  border-radius: .3em;
  color: #464a4c;
  list-style-type: none;
  cursor: pointer;
}

li:hover{
  background: #e0e0d1;
}

.selected {
  background: #bfbfbf !important;
}

.badge {
  padding: 0em 0.7em;
  border-radius: .3em;
  background: #d6d6c2;
}

.voting-component {
  background: #f2f2f2;
  color: #808080;
  border-color: #808080;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em 0em 1em 1.5em;
  border: 3px solid #808080;
  border-radius: 0.5em;

  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #808080;
    background: #f2f2f2;
    border: 2px solid #808080;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: #4d4d4d;
    border: 2px solid #4d4d4d;
    outline: none;
    cursor: pointer;
  }
}

.my-form {
  width: 75%;
  margin: 0 auto;
}


.vote-ok {
  text-align: center;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  color: green;
  border: 3px solid green;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.chart {
  height: 45% !important;
  width: 75% !important;
  margin: 0 auto !important;
}
